.pageCenter{
  width: 100%;
  height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageCenter .product_title{
  width: 400px;
  line-height: 37px;
  color: #fabe0e;
  font-size: 28px;
  text-align: center;
}
/* 所有设备、宽度必须大于800或者竖屏的时候，true */
/* @media all and (min-width:300px),(orientation:portrait){
  .pageCenter .product_title{
    font-size: 20px;
  }
} */
@media only screen and (max-width: 1200px) {
  .pageCenter .product_title{
    font-size: 26px;
  }
}
@media only screen and (max-width: 1000px) {
  .pageCenter .product_title{
    font-size: 24px;
  }
}
@media only screen and (max-width: 800px) {
  .pageCenter .product_title{
    font-size: 22px;
  }
}
@media only screen and (max-width: 600px) {
  .pageCenter .product_title{
    font-size: 20px;
  }
}
.pageCenter .product_title .product_title_top:nth-child(3){
  letter-spacing: 4px;
}
.pageCenter .product_title .product_title_bottom{
  letter-spacing: 4px;
}
.pageCenter .product_dec{
  width: 400px;
  color: #fff;
  font-size: 18px;
  text-align: center; 
  letter-spacing: 2px;
}
.pageCenter .product1_left{
  position: absolute;
  top: 21%;
  left: 2%;
  height: 27%;
  width: 21%;
  opacity: 0.2;
}
.pageCenter .product1_left img{
  height: 100%;
}
.pageCenter .product1_center{
  position: absolute;
  top: 29%;
  left: 39%;
  height: 48%;
  width: 21%;
  opacity: 0.9;
}
.pageCenter .product1_center img{
  height: 100%;
}
.pageCenter .product1_right{
  position: absolute;
  top: 52%;
  right: 0%;
  height: 38%;
  width: 18%;
  opacity: 0.2;
}
.pageCenter .product1_right img{
  height: 100%;
}
.pageCenter .triangle_content{
  /* width: 398px;
  height: 334px; */
  width: 37%;
  height: 89%;
}

.pageCenter .triangle{
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.intro{
  animation:fade 2s infinite;
  -webkit-animation:fade 2s infinite;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.line {
  position: absolute;
  width: 86%;
  height: 1px;
  /* box-shadow: 0px 0px 10px 1px rgba(41, 54, 129,0.7); */
  /* background:linear-gradient(
    -200deg,
     rgba(255,255,255,0.00) 0%,
     rgb(41, 54, 129) 53%, 
     rgba(255,255,255,0.00) 99%) */
}
.line:nth-child(2){
  transform: rotate(122deg);
  -webkit-transform: rotate(122deg);
  -moz-transform: rotate(122deg);
  -ms-transform: rotate(122deg);
  -o-transform: rotate(122deg);
}
.line:nth-child(3){
  transform: rotate(-125deg);
  -webkit-transform: rotate(-125deg);
  -moz-transform: rotate(-125deg);
  -ms-transform: rotate(-125deg);
  -o-transform: rotate(-125deg);
}
.lineTop {
  display: none;
  top: 8%;
  left: 6%;
  /* transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -ms-transition: width 2s;
  -o-transition: width 2s; */
}
.lineLeft {
  display: none;
  top: 52%;
  left: 36%;
  width: 77%;
}
.lineRight {
  display: none;
  top: 52%;
  right: 36%;
  width: 77%;
}
.lineImgContent{
  position: relative;
}
.lineImg1{
  position: absolute;
  left: 0%;
  top: -34px;
  width: 30%;
  height: 66px;
}
.lineImgLine1{
  position: absolute;
  top: -19px;
  width: 20%;
  height: 38px;
  left: 0%;
}
.lineImg2{
  position: absolute;
  left: 0%;
  top: -34px;
  width: 30%;
  height: 66px;
}
.lineImgLine2{
  position: absolute;
  top: -19px;
  width: 20%;
  height: 38px;
  left: 0%;
}
.lineImg3{
  position: absolute;
  top: -34px;
  width: 30%;
  height: 66px;
}
.lineImgLine3{
  position: absolute;
  top: -19px;
  width: 20%;
  height: 38px;
  left: 0%;
}